/*ADD CLASSES HERE*/
:root {
    --transition-duration: 0.4s;
    --transition-duration-short: 0.3s;
}

/* overlay & all modals */
overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 20;
    opacity: 0;
    transition: opacity var(--transition-duration), visibility 0s var(--transition-duration);
}

.modal {
    transform: scale(0.7);
    transition: transform var(--transition-duration) ease;
}

.modal-explanation {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateX(20%);
    transition: transform var(--transition-duration-short),
        opacity var(--transition-duration-short),
        visibility 0s var(--transition-duration-short);
}

/* Added classes & Transitions */

/*modal/overlay visibility & invisibility transition handler */
body.modal-pick-mode {
    overlay {
        opacity: 1;
        visibility: visible;
        transition: opacity var(--transition-duration);
    }

    .modal {
        transform: scale(1);
        transition: transform var(--transition-duration);
    }
}

/*modal explain visibility & invisibility transition handler */
body.modal-pick-mode-explain {
    .modal-explanation {
        visibility: visible;
        opacity: 1;
        transform: translateX(145%);
        transition: transform var(--transition-duration-short),
            opacity var(--transition-duration-short),
            visibility 0s;
    }
}

/*flash card visibility & invisibility transition handler */
flash-cards {
    position: fixed;
    background-color: rgb(227, 248, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    height: 80%;
    z-index: 130;
    display: grid;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: transform var(--transition-duration) opacity var(--transition-duration);
}

body.modal-play-mode {
    overlay {
        opacity: 1;
    }

    flash-cards {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: transform var(--transition-duration), opacity var(--transition-duration);
    }

}

.flash-card-objects {
    flex-shrink: 0;
    scroll-snap-align: center;
    width: 18em;
    height: 18em;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.new-element {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin: 12px;
    padding: 9px;
    border: none;
    border-radius: 8px 12px;
    background-color: aliceblue;
    transition: box-shadow 0.25s ease;
}

/* toggle view */
modal-container {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    scroll-behavior: smooth;
    overflow-x: auto;
}

/* 
body.casual-mode-has-columns modal-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */


toggle-style-modes {
    display: grid;
    grid-template-columns: 12% auto 5%;
    grid-template-rows: 0.3fr;
    font-family: "Nexa";
    justify-items: start;
    align-items: center;
    align-content: center;

    & button#close-flash-card {
        background: rgb(185, 0, 0);
        margin: 0;
        padding: 9px;
    }
}