/*ADD CLASSES HERE*/
:root {
    --transition-duration: 0.4s;
    --transition-duration-short: 0.3s;
}

/* overlay & all modals */
overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-duration), visibility 0s var(--transition-duration);
}

.modal {
    transform: scale(0.7);
    transition: transform var(--transition-duration) ease;
}

.modal-explanation {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateX(20%);
    transition: transform var(--transition-duration-short),
        opacity var(--transition-duration-short),
        visibility 0s var(--transition-duration-short);
}

/* Added classes & Transitions */
body.modal-pick-mode {
    overlay {
        opacity: 1;
        visibility: visible;
        transition: opacity var(--transition-duration);
    }

    .modal {
        transform: scale(1);
        transition: transform var(--transition-duration);
    }
}

/*modal explain visibility & invisibility transition handler */
body.modal-pick-mode-explain {
    .modal-explanation {
        visibility: visible;
        opacity: 1;
        transform: translateX(145%);
        transition: transform var(--transition-duration-short),
            opacity var(--transition-duration-short),
            visibility 0s;
    }
}

/*flash card visibility & invisibility transition handler */
flash-cards {
    position: fixed;
    background-color: rgb(88, 136, 139);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    width: 40vw;
    height: 70vh;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: transform var(--transition-duration), opacity var(--transition-duration), visibility 0s var(--transition-duration);
}

body.modal-play-mode {
    overlay {
        opacity: 1;
        visibility: visible;
    }

    flash-cards {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: transform var(--transition-duration), opacity var(--transition-duration);
    }

}

/* Flash card and word / definition handlers */
.new-element {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin: 12px;
    padding: 9px;
    border: none;
    border-radius: 8px 12px;
    background-color: aliceblue;
    transition: box-shadow 0.25s ease;
}

flash-card-container {
    max-width: 1000px;
    max-height: 1000px;
    position: relative;
    display: none;
    width: 100%;
    height: 90%;
    margin: auto;

}

flash-card-container.active-container {
    display: grid;
    align-items: center;
    overflow: hidden;
}

.flash-card-object {
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 90%;
    font-weight: bold;
    font-family: "Nexa";
    font-size: 50px;
    text-align: center;
    background-color: white;
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -35px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 28px;
    transition: 0.2s ease;
    border-radius: 0 6px 6px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 6px 0 0 6px;
}

.prev:hover,
.next:hover {
    background-color: rgba(105, 105, 105, 0.8);
}