/*ADD CLASSES HERE*/
:root {
    --transition-duration: 0.4s;
    --transition-duration-short: 0.3s;
}

/* overlay & all modals */
overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 20;
    opacity: 0;
    transition: opacity var(--transition-duration), visibility 0s var(--transition-duration);
}

.modal {
    transform: scale(0.7);
    transition: transform var(--transition-duration) ease;
}

.modal-explanation {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateX(20%);
    transition: transform var(--transition-duration-short),
        opacity var(--transition-duration-short),
        visibility 0s var(--transition-duration-short);
}

/* Added classes & Transitions */

/*modal/overlay visibility & invisibility transition handler */
body.modal-pick-mode {
    overlay {
        opacity: 1;
        visibility: visible;
        transition: opacity var(--transition-duration);
    }

    .modal {
        transform: scale(1);
        transition: transform var(--transition-duration);
    }
}

/*modal explain visibility & invisibility transition handler */
body.modal-pick-mode-explain {
    .modal-explanation {
        visibility: visible;
        opacity: 1;
        transform: translateX(145%);
        transition: transform var(--transition-duration-short),
            opacity var(--transition-duration-short),
            visibility 0s;
    }
}

/*flash card visibility & invisibility transition handler */
flash-cards {
    position: fixed;
    background-color: rgb(227, 248, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    width: 50vw;
    height: 50vh;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: transform var(--transition-duration) opacity var(--transition-duration);
}

body.modal-play-mode {
    overlay {
        opacity: 1;
    }

    flash-cards {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: transform var(--transition-duration), opacity var(--transition-duration);
    }

}

.new-element {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin: 12px;
    padding: 9px;
    border: none;
    border-radius: 8px 12px;
    background-color: aliceblue;
    transition: box-shadow 0.25s ease;
}

flash-card-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.flash-card-object {
    display: none;
    border-radius: 10px;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    background-color: white;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}